#content-view-wrapper{
    width: 1100px;
    min-height: 600px;
    margin: 0px auto 0px auto ;
}


#dashboard-content{
    width: 1100px;
    margin: 0px auto 0px auto;
}

/*  #584b68 */
div.dashbaord-pane{
    background-color: rgba(119, 101, 140, 0.5);
    border-radius: 10px;
    min-height: 40px;
    min-width: 40px;
    color: white;
    font-size: 2em;
    float: left;
    text-align: center;
    margin: 10px 20px 0px 0px;
    padding: 5px;   
}

p.dashboard-label{
    font-size: .5em;
}

#gmap {
    height: 800px;
    width: 30%;
}