
.std-circle{
	border-radius: 25px 25px 25px 25px;
	background-color: green;
	width: 50px;
	height: 50px;
	float: left;
}

body{
    background-image: url("../Media/Images/sf-bay-golden-gate.jpg");
    background-color: darkblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Common footer for CalSPEED */
footer{
	margin-top: 10px;
	font-size: .7em;
	width: 500px;
	margin: 0 auto;
	color: white;
}

img.footerLogoImage{
	float:left;
	margin-right:20px;
	width: 70px;
}
